<div class="col-sm-6">
  <img id="homePic" src="images/acro.jpg" alt="acro on the beach">
</div>
<div class="col-sm-6">
  <h1>Welcome!</h1>
  <p> Acroyoga includes many types of partner and group acrobatics
     in which at least someone is lifted.
     As such it draws on traditions of circus arts, cheer-leading, and dance acro.</p>
  <p> If you want to see upcoming tranings, click <a href="/courses">the trainings page</a>.</p>
  <p> Soon you'll be flying, basing or spottering! Try it out as participant or
     share your expertise as an instructor. Make your personal account by clicking <a href="users/new">here</a>.</p>
     <% if(!currentUser) { %>
       <strong>Log in to chat, get detailed info, create, update and join events!</strong>
     <% } %>
</div>
